body nav div ul li a{
    color: gold !important;
}

.jumbotron{
background-color: forestgreen;
color: gold;
margin-top: 2.5rem;
}

/* .card-home{
    flex: 1 200px;
    margin-top: 10px;
} */

.btn{
    font-weight: bold;
}

.btn-ver{
    width: 100%;
}

footer{
    background-color: forestgreen;
    color: gold;
}

footer a {
    color: greenyellow;
}
