body nav div ul li a {
  color: #d400ff !important; }

.jumbotron {
  background-color: #1ea639;
  color: #d400ff;
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

.btn {
  font-weight: bold; }

.btn-ver {
  width: 100%; }

footer {
  background-color: #1ea639;
  color: #d400ff; }

footer a {
  color: #d400ff; }
