$green: #1ea639;
$yellow: #d400ff;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

body nav div ul li a {
  color: $yellow !important;
}

.jumbotron {
  background-color: $green;
  color: $yellow;
  @include margenes(2.5rem, 1rem);
}

.btn {
  font-weight: bold;
}

.btn-ver {
  width: 100%;
}

footer {
  background-color: $green;
  color: $yellow;
}

footer a {
  color: $yellow;
}
